<header>

    <div class="clock">{{ time | date: 'HH:mm:ss' }}</div>

    <a class="fa fa-home" routerLink=""></a>

    <a class="fa fa-envelope" routerLink="/contact"></a>

    <a class="fa fa-download" routerLink="/download"></a>

    <div class="right">
        <!-- <button (click)="changeGif()">aboba</button> -->
        <label class="switch">
            <input type="checkbox" checked (change)="changeGif()">
            <span class="slider round"></span>
        </label>
    </div>
</header>