<main>

    <aside>
        <div class="title aside-title">
            Livio Agolini
        </div>
        <div class="aside-body">
            Non 
            <i class="fab fa-java"></i>
            developer.
        </div>
        <p>
            <figure>
                <embed src="https://wakatime.com/share/@81aed929-9cfa-441b-9bcd-c4730c53ed1b/ee82ce8a-450f-477f-a137-63f16972114b.svg"/>
            </figure>
        </p>
    </aside>

    <section>
        <div class="section-body">
            <div class="title">
                <i class="fa fa-bold"></i>
                personal page
            </div>
            <div class="body">
                <p>
                    hi. I'm Livio Agolini. live in UA/Mykolaiv.
                    <br>
                    a second-year CS student.
                    <br>
                    in my free time, I write simple java application with spring or micronaut framework.
                    <br>
                    I hate angular and js, but from time to time I'm trying to write angular sites (like this :]).
                    <br>
                    also I have a little knowledges about sql and nosql databases.
                    <br>
                    my favourite emoji: :] :c XD :()
                    <br>
                </p>
                <p>
                    please go to contact page, visit my linkedin and hire me.
                </p>
            </div>
        </div>
    </section>

</main>