<main>

    <section>
        <div class="section-body">
            <div class="title">
                <i class="fa fa-bold"></i>
                download page
            </div>
            <div class="body">
                <p>
                    option for download cv now isn't ready. please wait :]
                </p>
                <p>
                    as an apology, you can download gif with cute frog:
                    <a class="fa fa-download" href="https://media.giphy.com/media/3o85xkQpyMlnBkpB9C/giphy.gif" (click)="download()"></a>
                </p>
            </div>
        </div>
    </section>

</main>