/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    word-wrap: break-word;
}

body { 
    margin: 0; 
    font-family: Inconsolata;
    background-color: whitesmoke;
    background-image: url("https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif");
    background-size: cover;
}