<main>

    <section>
        <div class="section-body">
            <div class="title">
                <i class="fa fa-bold"></i>
                contact page
            </div>
            <div class="body">
                <p>
                    <a href="https://www.linkedin.com/in/livio-agolini/">
                        <i class="fab fa-linkedin-in"></i>
                        <span>linkedin.com/in/livio-agolini</span>
                    </a>
                </p>
                <p>
                    <a href="https://github.com/blackkiv">
                        <i class="fab fa-github"></i>
                        <span>github.com/blackkiv</span>
                    </a>
                </p>
                <p>
                    <a href="https://www.codewars.com/users/blackkiv">
                        <i class="fas fa-code"></i>
                        <span>codewars.com/users/blackkiv</span>
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/blackkiv/">
                        <i class="fab fa-facebook-f"></i>
                        <span>facebook.com/blackkiv</span>
                    </a>
                </p>
                <p>
                    <a href="https://www.instagram.com/blackkiv/">
                        <i class="fab fa-instagram"></i>
                        <span>instagram.com/blackkiv</span>
                    </a>
                </p>
            </div>
        </div>
    </section>

</main>